[Unit]
Description=Randomize WireGuard VPN configuration
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/home/qlrd/.local/bin/wg-random
